\documentclass{article}
\usepackage{hyperref}
\usepackage{graphicx}
\usepackage{longtable}
\usepackage{natbib}
\usepackage{amsmath}
\usepackage[nomarkers,figuresonly]{endfloat} %figures at end
\renewcommand{\bibnumfmt}[1]{#1}
\makeatletter
  \def\@eqnnum{{\normalfont \normalcolor [\theequation]}}
\makeatother
\begin{document}
<%= @latex %>
\bibliography{Bibliography}{}
\bibliographystyle{unsrt}
\end{document}
